/* Resetting CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Local CSS */

h5 {
  font-size: 16px;
  margin-left: 3px;
}

.workspace-body {
  display: flexbox;
  flex-direction: column;
  margin: 2px;
}

.description {
  flex-basis: 80%;
  margin: 10px;
}

.image {
  padding: 10px;
  flex-basis: 10%;
}

.rate {
  flex-basis: 15%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  padding: 10px;
  border: 1px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 3px;
  min-height: 80px;
}

.main-title {
  font-size: 24px;
  padding: 6px;
}

.category {
  font-size: 18px;
  padding: 3px;
}

.persons-container, .date-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.persons-modal, .movein-modal {
  height: 350px;
  width: 300px;
  overflow: auto;
  background-color: white;
  position: absolute;
  padding: 10px;
}

button {
  all: unset;
  display: block;
  min-width: 20px;
  height: 18px;
  padding: 5px;
  border-radius: 18px;
  border-color: rgb(161, 161, 161);
  border-width: 1px;
  border-style: solid;
  text-align: center;
  margin: auto;
  font-size: 15px;
}

#persons-button, #movein-button {
  margin: 3px;
}

#clear-persons-modal {
  margin-top: 10px;
}

.persons-button, .date-button {
  position: relative;
  right: 25px;
}

.persons-button:hover, .date-button:hover {
  background-color: lightgray;
}

.persons-modal-info {
  border: 1px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: lightgray;
  margin: 3px;
  margin-bottom: 14px;
}

.persons-modal-content, .movein-modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}