/* Local CSS */

h5 {
  font-size: 16px;
  margin-left: 3px;
}

.workspace-body {
  display: flexbox;
  flex-direction: column;
  margin: 2px;
}

.description {
  flex-basis: 80%;
  margin: 10px;
}

.image {
  padding: 10px;
  flex-basis: 10%;
}

.rate {
  flex-basis: 15%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  padding: 10px;
  border: 1px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 3px;
  min-height: 80px;
}

.main-title {
  font-size: 24px;
  padding: 6px;
}

.category {
  font-size: 18px;
  padding: 3px;
}

.persons-container, .date-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.persons-modal, .movein-modal {
  height: 350px;
  width: 300px;
  overflow: auto;
  background-color: white;
  position: absolute;
  padding: 10px;
}

button {
  all: unset;
  display: block;
  min-width: 20px;
  height: 18px;
  padding: 5px;
  border-radius: 18px;
  border-color: rgb(161, 161, 161);
  border-width: 1px;
  border-style: solid;
  text-align: center;
  margin: auto;
  font-size: 15px;
}

#persons-button, #movein-button {
  margin: 3px;
}

#clear-persons-modal {
  margin-top: 10px;
}

.persons-button, .date-button {
  position: relative;
  right: 25px;
}

.persons-button:hover, .date-button:hover {
  background-color: lightgray;
}

.persons-modal-info {
  border: 1px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: lightgray;
  margin: 3px;
  margin-bottom: 14px;
}

.persons-modal-content, .movein-modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}